h1 {text-align: center; color:red; text-shadow: 1px 	2px 2px #CE5937;}

p#instructions {text-align: center;}

.btn {
  		background-color: red;
  		border: 10px solid #999999;
      border-radius: 50%;
  		color: white;
  		padding: 100px 80px;
  		text-align: center;
  		text-decoration: none;
  		font-size: 40px;
  		margin: none;
  		cursor: pointer;
      position:relative; 
	}

p#score{text-align: center; color: blue; font-family: helvetica;}

p#tableTitle{text-align:center;}